# VSCode workspace config
.vscode
**/.vscode

# Python cache folders
__pycache__
**/__pycache__

# Python cache files
*.pyc
**/*.pyc

# Python package artifacts
*.egg-info
**/*.egg-info
build
**/build
dist
**/dist

# Python virtual environment artifacts
bin
lib*
pyvenv.cfg
